/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

/* nav bar */
nav {
    background-color: #2c3e50;
    padding: 15px;
    border-bottom: 3px solid #1a252f;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.tab {
    padding: 12px 24px;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}

.tab:hover {
    color: #E67E22; 
    border-bottom: 3px solid #E67E22;
}

/* main  latyout*/
.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* font */
h1 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #2c3e50;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}

/* Buttons */
button {
    padding: 12px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
    display: block;
    margin: 20px auto;
}

button:hover {
    background-color: #2980b9;
}

/* images*/
.image-placeholder img {
    width: 100%;
    max-width: 300px; 
    height: auto;
    margin: 10px;
}

.image-placeholder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


img.lofi {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.video-container video {
    width: 80%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

/* carousel (left and right buttons)  for screenshots, demo video*/
.image-container {
    position: relative;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.image-container img, .image-container video {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: none;
}

.image-container img.active, .image-container video.active {
    display: block;
    margin: auto;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.nav-button.left {
    left: 10px;
}

.nav-button.right {
    right: 10px;
}
